/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1e1e2f;
  color: #adb5bd;
}
.box {
  margin: 0px 20px; /*space outside container*/
  padding: 20px;

  border-radius: 19px;
  background: #1e1e2f;
  box-shadow: 7px 7px 14px #11111b, -7px -7px 14px #2b2b43;
}
.box .badge {
  font-size: 1.2rem;
}

.heading {
  padding-top: 25px;
  padding-bottom: 6px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: #1e1e2f;
  z-index: 105;
}
.heading h2 {
  font-weight: 500;
  font-size: 4rem;
  color: #e3edf1;
}
.item .item-name {
  font-size: 0.9rem;
  opacity: 0.8rem;
}
.item .item-content {
  font-size: 2.2rem;
  color: #e9edf1;
  line-height: 1.2;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
ngx-charts-line-chart .gridline-path {
  stroke: #42424f !important;
}
.item {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .item-content {
    align-self: flex-start;
    flex-direction: row;
    width: auto;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}
.chart-legend {
  .legend-title {
    margin-left: 0px !important;
  }
  .legend-label:hover {
    color: #1888ff !important;
  }
  .legend-label {
    .active {
      .legend-label-text {
        color: #1888ff !important;
      }
    }
  }
  .legend-wrap {
    width: calc(100% - 20px) !important;
  }
}

.ngx-charts .tooltip-anchor {
  fill: #0085ff !important;
}

// .mat-autocomplete-panel{

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  // border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e1e2f;
  border-radius: 5px;
  max-height: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e1e2f;
}
.mat-autocomplete-panel.mat-autocomplete-visible {
  background-color: #1e1e2f !important;
  .mat-option-text {
    color: white;
  }
  .mat-selected:not(.mat-active):not(:hover) {
    background: rgba(#1e1e2f, 0.2);
  }
}
.mat-select-value {
  color: rgb(31, 142, 241) !important;
}
.mat-button-disabled {
  color: white !important;
}

.table-icon {
  position: absolute;
  top: 31px;
  margin-left: 35px;
}
.mat-select-panel:not([class*="mat-elevation-z"]) {
  background-color: #1e1e2f;
  border: 10px;
}
.mat-option-text {
  color: white !important;
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: #45456e;
}
.mat-select-arrow-wrapper {
  .mat-select-arrow {
    color: white;
  }
}

.container {
  margin-top: 140px;
}
