/* You can add global styles to this file, and also import other style files */
body{
    background-color: #1e1e2f;
    color:#adb5bd;
    /*color:black
    */
}
.box{
    margin:0px 20px;/*space outside container*/
    padding:20px;
    /*min-height:400px;*/
    border-radius: 19px; background: #1e1e2f; box-shadow: 7px 7px 14px #11111b, -7px -7px 14px #2b2b43;
}
.box .badge{
    font-size: 1.2rem;
   
}

.heading{
    margin-top:25px;
    margin-bottom:30px;
}
.heading h2{
  font-weight: 500;
  font-size: 4rem;
  color:#e3edf1;
  
}
.item .item-name{
    font-size:0.9rem;
    opacity:0.8rem;
    //color:rgb(255, 20, 147);
}
.item .item-content{
    font-size:2.2rem;
    color:#e9edf1;
    line-height: 1.2;
}
.item{
    margin-bottom:1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
