.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    color:white;
    text-align:center;
    margin:auto;
  }
  
  .example-full-width {
    color:white;
    width: 100%;
     
  }
  ::ng-deep .mat-form-field {
    .mat-input-element {/*filled up Input text*/
        color: #adb5bd;
        font-size: 20px;
    }
    .mat-form-field-label {/*placeholder*/
        color:#adb5bd;
        
    }
    .mat-form-field-underline {
        background-color: #adb5be;/*underline*/
    }
}
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
      color:whitesmoke;
  }
  .mat-form-field-required-marker {
      color: #1f8ef1;
  }
  .mat-input-element {
      color:#1f8ef1;
  }
}
.box{
   
    margin-bottom:20px;
}
::ng-deep .ngx-charts { fill: #e0e0e0; float: none !important;}
.spin{
    float:none;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.spin2{
    float:none;
    display:flex;
    justify-content: center;
    width:500px;
    align-items: center;
    height:20vh;
    font-size: 30px;
    color:white;
    background-color: #ff4081;
    
}
.alert-light{
    background-color: #ff4081 !important;
    border-color: #ff4081;

}
