  <form
    class="example-form"
    [formGroup]="countryForm"
    (ngSubmit)="onSubmit(countryForm.value.country)"
  >
    <div class="row" style="margin:auto">
      <div class="col-md-8">
        <mat-form-field hideRequiredMarker class="example-full-width">
          <div class="form-group">
            <input
              type="text"
              placeholder="Country"
              aria-label="Number"
              matInput
              formControlName="country"
              [matAutocomplete]="auto"
              required
            />
          </div>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          
        >
          Submit
        </button>
      </div>
    </div>
  </form>
  <div class="p-3"></div>
  <div class="contains" *ngIf="globalResultSearch">
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div>
            <div class="item">
              <div class="item-name">
                Country Name:
              </div>
              <div class="item-content">
                {{ globalResultSearch.Country }}
              </div>
            </div>
            <div class="item">
              <div class="item-name">
                Date:
              </div>
              <div class="item-content">
                {{ globalResultSearch.Date | date: "MMM d, y" }}
              </div>
            </div>
            <div class="item">
              <div class="item-name">
                Number of Infected:
              </div>
              <div class="item-content">
                {{ globalResultSearch.TotalConfirmed }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
            <div class="box">
              <ngx-charts-line-chart
                    
              [scheme]="colorScheme"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="multi"
              [gradient]="gradient"
              [showGridLines]="true"
              [roundDomains]="true"
              >
          </ngx-charts-line-chart>
            </div>
      </div>
    </div>
  </div><!---ngif-->
  <div class="spin" *ngIf="!globalResultSearch && flagSearch && !nullstring" ><!---when the globalresult is false and flag false-->
    <div class="fluid">
            <mat-spinner></mat-spinner>
    </div>   
  </div>
  <div class="spin" *ngIf="nullstring" ><!---when the globalresult is false and flag false-->
    <div class="fluid">
      <div class="alert alert-light" role="alert">
        <h4 class="alert-heading spin2"  style = "font-family:courier,arial,helvetica;">Enter a Country Name!</h4>
      </div>
    </div>   
  </div>
  
  
