
<div class="contains" *ngIf="globalresult">
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                    <div>
                        <span class="badge badge-light">1st</span>
                        <div class="p-2"></div>
                        <div class="item">
                            <div class="item-name">
                                Country Name:
                            </div>
                            <div class="item-content">
                                {{(globalresult.Countries[top1].Country.length>11)?globalresult.Countries[top1].CountryCode:globalresult.Countries[top1].Country}}
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-name">
                                Date:
                            </div>
                            <div class="item-content">
                                {{globalresult.Countries[top1].Date|date:"MMM d, y"}}
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-name">
                                Number of Infected:
                            </div>
                            <div class="item-content">
                                {{globalresult.Countries[top1].TotalConfirmed}}
                            </div>
                        </div>
                    </div>
            </div><!--name card ends-->
        </div>
        <div class="col-md-8">
            <div class="box">
                <ngx-charts-line-chart
                    
                    [scheme]="colorScheme"
                    [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [results]="multi1"
                    [gradient]="gradient"
                    [showGridLines]="true"
                    [roundDomains]="true"
                    >
                </ngx-charts-line-chart>
            </div>

        </div>
        <div class="col-md-4">
            <div class="box">
                    <div>
                        <span class="badge badge-light">2nd</span>
                        <div class="p-2"></div>
                        <div class="item">
                            <div class="item-name">
                                Country Name:
                            </div>
                            <div class="item-content">
                                {{(globalresult.Countries[top2].Country.length>11)?globalresult.Countries[top2].CountryCode:globalresult.Countries[top2].Country}}
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-name">
                                Date:
                            </div>
                            <div class="item-content">
                                {{globalresult.Countries[top2].Date|date:"MMM d, y"}}
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-name">
                                Number of Infected:
                            </div>
                            <div class="item-content">
                                {{globalresult.Countries[top2].TotalConfirmed}}
                            </div>
                        </div>
                    </div>
            </div><!--name card ends-->
        </div>
        <div class="col-md-8">
            <div class="box">
                <ngx-charts-line-chart
                    
                    [scheme]="colorScheme"
                    [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [results]="multi2"
                    [gradient]="gradient"
                    [showGridLines]="true"
                    [roundDomains]="true"
                    >
                </ngx-charts-line-chart>
            </div>

        </div>
        <div class="col-md-4">
            <div class="box">
                    <div>
                        <span class="badge badge-light">3rd</span>
                        <div class="p-2"></div>
                        <div class="item">
                            <div class="item-name">
                                Country Name:
                            </div>
                            <div class="item-content">
                                {{(globalresult.Countries[top3].Country.length>11)?globalresult.Countries[top3].CountryCode:globalresult.Countries[top3].Country}}
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-name">
                                Date:
                            </div>
                            <div class="item-content">
                                {{globalresult.Countries[top3].Date|date:"MMM d, y"}}
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-name">
                                Number of Infected:
                            </div>
                            <div class="item-content">
                                {{globalresult.Countries[top3].TotalConfirmed}}
                            </div>
                        </div>
                    </div>
            </div><!--name card ends-->
        </div>
        <div class="col-md-8">
            <div class="box">
                <ngx-charts-line-chart
                    
                    [scheme]="colorScheme"
                    [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [results]="multi3"
                    [gradient]="gradient"
                    [showGridLines]="true"
                    [roundDomains]="true"
                    >
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div><!---contains ended-->
