.box{
   
    margin-bottom:20px;
}
::ng-deep .ngx-charts { fill: #e0e0e0; float: none !important;}
body { background-color: #add8e6; }
.spin{
    float:none;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}